<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Detalle de producto"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="productDetail">
        <div class="ruta">
            <ul>
                <li><a href="#">Urbano /</a></li>
                <li><a href="#">Marca /</a></li>
                <li><a href="#"><%= producto.producto %></a></li>
            </ul>
        </div>
        <section class="producto">
            <article class="imagen">
                <div>
                    <a class="flechas" href="#"><i class="fas fa-arrow-left"></i></a>
                    <img src="/img/uploads/productimage/<%= producto.imagen %>" alt="<%= producto.producto %>">
                    <a class="flechas" href="#"><i class="fas fa-arrow-right"></i></a>
                </div>                
                <div class="puntos">
                    <a href="#" class="negro"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                </div>
            </article>
            <article class="detalle">
                <div class="nombrePrecio">
                    <h2> <%= producto.producto %> </h2>
                    <% if(producto.descuento == "") { %>
                        <h3>$<%= producto.precio %></h3>
                    <% } else { %>
                        <h3 class="precioTachado">$<%= producto.precio %></h3>
                        <h3 class="precioConDescuento">$<%= (producto.precio / 100 * (100-producto.descuento)) - (producto.precio / 100 * (100-producto.descuento))%1 %></h3>
                        <h3 class="porcentajeDescuento"><%= producto.descuento %>% OFF</h3>
                    <% } %>
                </div>
                <div class="talle">
                    <div class="talleP">
                        <p>Talle</p>
                        <a href="#">Tabla de talles</a>
                    </div>
                    <div class="tallesNum">
                        <% for(let i=0;i<producto.talles.length; i++) { %>
                            <input type="radio" name="talle" value="<%= producto.talles[i] %>" id="<%= producto.talles[i] %>">
                            <label for="<%= producto.talles[i] %>"><%= producto.talles[i] %></label>
                        <% } %>
                    </div>
                </div>
                <button type="submit">AGREGAR AL CARRITO</button>
            </article>
        </section>
        <section class="descripcion">
            <h3>Detalle de producto</h3>
            <p><%= producto.descripcion %></p>
        </section>
        <section class="similares">
            <h3>Productos similares</h3>
            <div>
                <a href="#"><i class="fas fa-arrow-left"></i></a>
                <ul class="similares">
                    <li><div>
                        <img src="/img/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras">
                        <p>Zapatillas Vans Original</p>
                        <p class="precio">$7.999</p>
                    </div></li>
                    <li><div>
                        <img src="/img/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras">
                        <p>Zapatillas Vans Original</p>
                        <p class="precio">$7.999</p>
                    </div></li>
                    <li><div>
                        <img src="/img/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras">
                        <p>Zapatillas Vans Original</p>
                        <p class="precio">$7.999</p>
                    </div></li>
                    <li><div>
                        <img src="/img/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras">
                        <p>Zapatillas Vans Original</p>
                        <p class="precio">$7.999</p>
                    </div></li>
                </ul>
                <a href="#"><i class="fas fa-arrow-right"></i></a>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>