<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Editar producto"}) %>
</head>
<body>
    <header>
        <%- include("../partials/adminHeader") %>
    </header>
    <main class="productCreation">    
        <nav>
            <%- include("../partials/adminNav") %>
        </nav>
        <section class="principal">
            <div class="titulo">
                <h1>Edición de Producto</h1>
            </div>
            <div class="formulario">
                <form action="?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="nombreProducto">
                        <label for="nombre">Nombre del Producto</label>
                        <input type="text" name="producto" id="nombre" value="<%= producto.producto %>">
                    </div>
                    <div class="descripcionProducto">
                        <label for="descripcion">Descripcion del Producto</label>
                        <textarea name="descripcion" id="descripcion" rows="10"> <%= producto.descripcion %>
                        </textarea>
                    </div>
                    <div class="imagen">
                        <label for="">Imagen del producto</label>
                        <input type="file" name="imagen" id="imagen" value="<%= producto.imagen %>">
                    </div>
                    <div class="categoria">
                        <label for="categoria">Categoría</label>
                        <select name="categoria" id="categoria">
                            <% for (i = 0; i < categoriasProductos.length; i++) { %>
                                <% if (categoriasProductos[i].id == producto.id_categoria) { %>  
                                    <option value="<%= categoriasProductos[i].id %>" selected><%= categoriasProductos[i].categoria %></option>
                                <% } else { %>
                                    <option value="<%= categoriasProductos[i].id %>"><%= categoriasProductos[i].categoria %></option>
                                <% } %>
                            <% } %> 
                        </select>
                    </div>
                    <div class="marca">
                        <label for="marca">Marca</label>
                        <select name="marca" id="marca">
                            <% for (i = 0; i < marcas.length; i++) { %>
                                <% if (marcas[i].id == producto.id_marca) { %>  
                                    <option value="<%= marcas[i].id %>" selected><%= marcas[i].marca %></option>
                                <% } else { %>
                                    <option value="<%= marcas[i].id %>"><%= marcas[i].marca %></option>
                                <% } %>
                            <% } %> 
                        </select>
                    </div> 
                    <div class="talles">
                        <p>Talles</p>
                        <div class="numeros">
                            <% let encontrado = false %> 
                            <% for(let i=35; i<=44; i++) { %>
                                <% for(let j=0; j<producto.talles.length; j++) { %>
                                    <% if(i == producto.talles[j]) { %>
                                        <div>
                                            <input type="checkbox" name="talle" value="<%= i %>" id="<%= i %>" checked>
                                            <label for="<%= i %>"><%= i %></label>
                                        </div>
                                        <% encontrado = true %> 
                                    <% } %>
                                <% } %>
                                <% if(encontrado == false) { %>
                                    <div>
                                        <input type="checkbox" name="talle" value="<%= i %>" id="<%= i %>">
                                        <label for="<%= i %>"><%= i %></label>
                                    </div>
                                <% } %>
                                <% encontrado = false %> 
                            <% } %>
                        </div>
                    </div>
                    <div class="precio">
                        <label for="precio">Precio del Producto</label>
                        <input type="number" name="precio" id="precio" value="<%= producto.precio %>">
                    </div>
                    <div class="precio">
                        <label for="descuento">Descuento</label>
                        <input type="number" name="descuento" id="descuento" value="<%= producto.descuento %>">
                    </div>
                    <div class="buttonEdit">
                        <button class="editar" type="submit">Guardar Cambios</button>        
                        <form action="/admin/productos/<%= producto.id %>/eliminar?_method=DELETE" method="POST">                            
                            <button class="eliminar" type="submit">Eliminar Producto</button>                            
                        </form>                
                    </div>                
                </form>
                
                        
            </div>
        </section>
    </main>
</body>
</html>