<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Productos"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="listaProductos">
        <h1 class="allproductsh1">Todos los Productos</h1>
        <div class="listado-todoslosproductos">
            <% for (let i = 0; i < productos.length; i++) { %>
                        <div class="product">
                            <a href="/productos/detalle/<%= productos[i].id %>" id="link"></a>
                            <img src="/img/uploads/productimage/<%= productos[i].imagen %>" alt="">
                            <h5><%= productos[i].producto %></h5>
                            <% if(productos[i].descuento == "") { %>
                                <h3 class="sinDescuento">$<%= productos[i].precio %></h3>
                            <% } else { %>
                                <div class="descuento">
                                    <h3 class="tachado">$<%= productos[i].precio %></h3>
                                    <h3 class="descuentoPrecio">$<%= (productos[i].precio / 100 * (100-productos[i].descuento)) - (productos[i].precio / 100 * (100-productos[i].descuento))%1 %></h3>
                                    <h3 class="porcentaje"><%= productos[i].descuento %>% OFF</h3>
                                    <div class="circle"></div>
                                </div>
                            <% } %> 
                        </div>
                        
            <% } %>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>

    
</body>
</html>