<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Nuevo Producto"}) %>
</head>
<body>
    <header>
        <%- include("../partials/adminHeader") %>
    </header>

    <main>
        <nav>
            <%- include("../partials/adminNav") %>
        </nav>
        <section class="tablaProductos">
            <h2>Productos</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col" scope="col">#</th>
                        <th class="col" scope="col">Nombre</th>
                        <th class="col" scope="col">Precio</th>
                        <th class="col" scope="col" class="administrarProducto">Administrar</th>
                    </tr>
                </thead>            
                <tbody>
                    <% for(let i=0; i<productos.length;i++) { %>
                        <tr>
                            <th scope="row"> <%= productos[i].id %> </th>
                            <td> <%= productos[i].producto %> </td>
                            <td>$ <%= productos[i].precio %> </td>
                            <td class="administrarProducto">
                                <a href="/admin/productos/<%= productos[i].id %>/editar"><button class="editar">Editar</button></a>
                                <form action="/admin/productos/<%= productos[i].id %>/eliminar?_method=DELETE" method="POST">
                                    <button class="eliminar" type="submit" role="button">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>    
</body>
</html>