<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Detalle de producto"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="productDetail">
        <div class="ruta">
            <ul>
                <li><a href="#"><%= producto.categoriaProducto.categoria %> /</a></li>
                <li><a href="#"><%= producto.marca.marca %> /</a></li>
                <li><a href="#"><%= producto.producto %></a></li>
            </ul>
        </div>
        <section class="producto">
            <article class="imagen">
                <div>
                    <a class="flechas" href="#"><i class="fas fa-arrow-left"></i></a>
                    <img src="/img/uploads/productimage/<%= producto.imagenes[0].nombre %>" alt="<%= producto.producto %>">
                    <a class="flechas" href="#"><i class="fas fa-arrow-right"></i></a>
                </div>                
                <div class="puntos">
                    <a href="#" class="negro"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                    <a href="#"><i class="fas fa-circle"></i></a>
                </div>
            </article>
            <article class="detalle">
                <div class="nombrePrecio">
                    <h2> <%= producto.producto %> </h2>
                    <div class="precio">
                        <% if(producto.descuento == "") { %>
                            <h3>$<%= producto.precio %></h3>
                        <% } else { %>                        
                            <h4 class="precioTachado">$<%= producto.precio %></h4>
                            <div class="descuento">
                                <h3 class="precioConDescuento">$<%= (producto.precio / 100 * (100-producto.descuento)) - (producto.precio / 100 * (100-producto.descuento))%1 %></h3>                            
                                <h5 class="porcentajeDescuento"><%= producto.descuento %>% OFF</h5>
                            </div>
                        <% } %>
                    </div>
                </div>
                <form action="" method="POST">
                    <div class="talle">
                        <div class="talleP">
                            <p>Talle</p>
                            <a href="#">Tabla de talles</a>
                        </div>
                        <div class="tallesNum">
                            <% for(let i=0;i<producto.talles.length; i++) { %>
                                <input type="radio" name="talle" value="<%= producto.talles[i].id %>" id="<%= producto.talles[i].talle %>">
                                <label for="<%= producto.talles[i].talle %>"><%= producto.talles[i].talle %></label>
                            <% } %>
                        </div>
                    </div>
                    <button type="submit">AGREGAR AL CARRITO</button>
                </form>
            </article>
        </section>
        <section class="descripcion">
            <h3>Detalle de producto</h3>
            <p><%= producto.descripcion %></p>
        </section>
        <section class="similares">
            <h3>Productos similares</h3>
            <div>
                <div class="similares">
                    <i class="fas fa-arrow-left"></i>
                    <% for(let i = 0; i < similares.length; i++) { %>
                        <div class="producto">
                            <a href="/productos/detalle/<%= similares[i].id %>" id="enlace"></a>
                            <img src="/img/uploads/productimage/<%= similares[i].imagenes[0].nombre %>" alt="">
                            <h5><%= similares[i].producto %></h5>
                            <% if(similares[i].descuento == null || similares[i].descuento == 0) { %>
                                <p>$<%= similares[i].precio %></p>
                            <% } else { %>
                                <div class="descuento">
                                    <p><span class="precioTachado">$<%= similares[i].precio %></span><span class="precioConDescuento">$<%= (similares[i].precio / 100 * (100-similares[i].descuento)) - (similares[i].precio / 100 * (100-similares[i].descuento))%1 %></span></p>
                                    <h3 class="porcentaje"><%= similares[i].descuento %>% OFF</h3>
                                    <div class="circle"></div>
                                </div>
                            <% } %> 
                        </div>
                    <% } %>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>