<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Carrito de compras"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="Carrito">
        <h2>MI CARRITO</h2>
        <div class="container">
            <div class="contenedor-carrito">
            <% for(let i = 0; i < carrito.length; i++) { %>
            <div class="carrito">
                <div class="sin-sub">
                    <div class="imagen">
                        <img src="/img/uploads/productimage/<%= carrito[i].imagen %>" alt="<%= carrito[i].producto.producto %>">
                    </div>
                    <div class="detalle">
                        <h3><%= carrito[i].producto.producto %></h3>
                        <div class="talle">
                            <h6>Talle:</h6>
                            <p><%= carrito[i].talle %></p>
                        </div>
                        <div class="cantidad">
                            <h6>Cantidad:</h6>
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="precio">
                            <h6>Precio:</h6>
                            <% if(carrito[i].producto.descuento == "") { %>
                                <p>$<%= carrito[i].producto.precio %></p>
                            <% } else { %>                        
                                    <p>$<%= (carrito[i].producto.precio / 100 * (100-carrito[i].producto.descuento)) - (carrito[i].producto.precio / 100 * (100-carrito[i].producto.descuento))%1 %></p>
                            <% } %>
                        </div>
                        <form action="?_method=DELETE" method="POST">
                                <button><i class="fas fa-trash-alt"></i></button>
                                <input type="hidden" name="idProducto" value="<%= carrito[i].producto.id %>">
                        </form>                    
                    </div>
                </div>                 
            </div>
            <% } %>
            </div>
            <div class="resumen">
                <h3>Resumen</h3>
                <table id="datosProducto">
                    <% for(let i=0; i<carrito.length; i++) { %>
                        <tr>
                            <td><p class="num"><%= carrito[i].cantidad %>x</p></td>
                            <td>
                                <div class="producto">
                                    <p><%= carrito[i].producto.producto %></p>
                                    <p class="talle">Talle:<%= carrito[i].talle %></p>
                                </div>
                            </td>
                            <td><p class="precio">$<%= carrito[i].producto.precio %></p></td>
                        </tr>
                    <% } %>
                </table>
                <p>¿Tenés un cupón de descuento?</p>
                <form>
                    <input type="text" name="cupon">
                    <button type="submit">Aplicar Cupón</button>
                    <div class="total">
                        <p>Total</p>
                        <p id="precioTotal">$<%= totalCarrito %></p>
                    </div>
                    <button type="submit">Comprar</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>