<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Nuevo Producto"}) %>
</head>
<body>
    <header  class="headerAdmin">
        <%- include("../partials/adminHeader") %>
    </header>
    <main class="productCreation">
        <section class="principal">
            <div class="titulo">
                <h1>Nuevo Producto</h1>
            </div>
            <div class="formulario">
                <form id='form' action="" method="POST" enctype="multipart/form-data">
                    <div class="nombreProducto">
                        <label for="nombre">Nombre del Producto</label>
                        <input type="text" name="producto" id="nombre">
                        <small> <%= (typeof errors != 'undefined' && errors.producto) ? errors.producto.msg : '' %> </small>
                        <small id="errorNombre"></small>
                    </div>
                    <div class="descripcionProducto">
                        <label for="descripcion">Descripcion del Producto</label>
                        <textarea name="descripcion" id="descripcion" rows="10"></textarea>
                        <small id="errorDescripcion"></small>
                        <small> <%= (typeof errors != 'undefined' && errors.descripcion) ? errors.descripcion.msg : '' %> </small>
                    </div>
                    <div class="imagen">
                        <label for="">Imagen del producto</label>
                        <input type="file" name="imagenes" id="imagen" accept=".jpg,.jpeg,.png" multiple>
                        <small id="errorImagen"></small>
                        <small> <%= (typeof errors != 'undefined' && errors.imagen) ? errors.imagen.msg : '' %> </small>
                    </div>
                    <div class="categoria">
                        <label for="categoria">Categoría</label>
                        <select name="categoria" id="categoria">
                            <% for(let i=0; i<categoriasProductos.length; i++) { %>
                                <option value="<%= categoriasProductos[i].id %>"><%= categoriasProductos[i].categoria %></option>
                            <% } %>
                        </select>                            
                    </div>
                    <div class="marca">
                        <label for="marca">Marca</label>
                        <select name="marca" id="marca">
                            <% for(let i=0; i<marcas.length; i++) { %>
                                <option value="<%= marcas[i].id %>"><%= marcas[i].marca %></option>
                            <% } %>
                        </select>                            
                    </div>
                    <div class="talles">
                        <p>Talles</p>
                        <div class="numeros">
                            <div>
                                <input type="checkbox" name="talle" value="35" id="t35">
                                <label for="t35">35</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="36" id="t36">
                                <label for="t36"> 36</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="37" id="t37">
                                <label for="t37"> 37</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="38" id="t38">
                                <label for="t38"> 38</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="39" id="t39">
                                <label for="t39"> 39</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="40" id="t40">
                                <label for="t40">40</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="41" id="t41">
                                <label for="t41"> 41</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="42" id="t42">
                                <label for="t42"> 42</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="43" id="t43">
                                <label for="t43"> 43</label>
                            </div>
                            <div>
                                <input type="checkbox" name="talle" value="44" id="t44">
                                <label for="t44"> 44</label>
                            </div>
                        </div>
                        <small id="errorTalles"></small>
                    </div>
                    <div class="precio">
                        <label for="precio">Precio del Producto</label>
                        <input type="number" name="precio" id="precio">
                        <small> <%= (typeof errors != 'undefined' && errors.precio) ? errors.precio.msg : '' %> </small>
                        <small id="errorPrecio"></small>
                    </div>
                    <div class="precio">
                        <label for="descuento">Descuento</label>
                        <input type="number" name="descuento" id="descuento">
                        <small id="errorDescuento"></small>
                    </div>
                    <div class="button">
                        <a href=""><button id="button" type="submit">Crear Producto</button></a>
                    </div>
                </form>
            </div>        
        </section>
    </main>
    <script src="/js/productCreationValidator.js"></script>
</body>
</html>