<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Edit"}) %>
</head>
<body>
    <header>
        <%- include("../partials/adminHeader") %>
    </header>

    <main class="register">
        <nav>
            <%- include("../partials/adminNav") %>
        </nav>
        <section class="register">
            <h2>Editar</h2>

            <form action="" method="POST">
                <div class="datos">
                    <div class="fila-uno">
                        <div class="nombre">
                            <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" value="<%= usuario.nombre %>">                      
                        </div>   
                        <div class="apellido">
                            <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" value="<%= usuario.apellido %>">

                        </div>
                    </div>
                    <div class="fila-dos">
                        <div class="nacimiento">
                            <label for="nacimiento">Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" id="nacimiento" value="<%= usuario.fecha_nacimiento %>">                       
                        </div>
                        <div class="dni">
                            <label for="dni">DNI</label>
                                <input type="number" name="dni" id="dni" value="<%= usuario.dni %>">

                        </div>
                    </div>
                    <div class="fila-tres">
                        <div class="email">
                            <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="<%= usuario.email %>">
                        </div>
                    </div>
                </div>              
                
                <button type="submit">Editar</button>
            </form>
            <form action="?_method=delete" method="POST">
                <button type="submit">Borrar</button>
            </form>
        </section>
    </main>


</body>
</html>