<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Ingresar"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="login">
        <section class="login">
            <h2>Iniciar Sesión</h2>

            <div class="row">
                <ul>
                    <li class="inicio"><a href="#">Iniciar Sesión</a></li>
                    <li class="registro"><a href="/usuarios/registro">Registrarme</a></li>
                </ul>            
            </div>

            <form action="/usuarios/ingresar" method="POST">
                <div class="datos">                    
                    <div class="mail">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email"> 
                    </div>
                    <div class="pass">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="pass" id="pass">                        
                        <% if (typeof errors != 'undefined' && errors.pass) { %>
                            <small> * <%= errors.pass.msg %> </small>
                        <% } %>   
                    </div>
                    <% if (typeof errores != 'undefined') { %>
                        <small> * <%= errores %> </small>
                    <% } %>  
                </div>
                <div class="check">
                    <div class="recordarme">
                        <input type="checkbox" name="recordarme" id="recordarme" value="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </section>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>