<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Registro"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="register">
        <section class="register">
            <h2>Registrarme</h2>

            <div class="row">
                <ul>
                    <li class="inicio"><a href="/usuarios/ingresar">Iniciar Sesión</a></li>
                    <li class="registro"><a href="#">Registrarme</a></li>
                </ul>     
            </div>

            <form action="/usuarios/registro" method="POST">
                <div class="datos">
                    <div class="fila-uno">
                        <div class="nombre">
                            <label for="nombre">Nombre</label>
                            <% if( typeof user != 'undefined' && !errors.nombre ) { %>
                                <input type="text" name="nombre" id="nombre" value="<%= user.name %>">
                            <% } else { %>
                                <input type="text" name="nombre" id="nombre">
                            <% } %>
                            <% if (typeof errors != 'undefined' && errors.nombre) { %>
                                    <small class="registerValidation"> * <%= errors.nombre.msg %> </small>
                            <% } %>  
                        </div>   
                        <div class="apellido">
                            <label for="apellido">Apellido</label>
                            <% if( typeof user != 'undefined' && !errors.apellido ) { %>
                                <input type="text" name="apellido" id="apellido" value="<%= user.lastName %>">
                            <% } else { %>
                                <input type="text" name="apellido" id="apellido">
                            <% } %>
                            <% if (typeof errors != 'undefined' && errors.apellido) { %>
                                <small class="registerValidation"> * <%= errors.apellido.msg %> </small>
                            <% } %>  
                        </div>
                    </div>
                    <div class="fila-dos">
                        <div class="nacimiento">
                            <label for="nacimiento">Fecha de nacimiento</label>
                            <% if( typeof user != 'undefined' && !errors.nacimiento ) { %>
                                <input type="date" name="nacimiento" id="nacimiento" value="<%= user.birth %>">
                            <% } else { %>
                                <input type="date" name="nacimiento" id="nacimiento">
                            <% } %>
                            <% if (typeof errors != 'undefined' && errors.nacimiento) { %>
                                <small class="registerValidation"> * <%= errors.nacimiento.msg %> </small>
                            <% } %>
                        </div>
                        <div class="dni">
                            <label for="dni">DNI</label>
                            <% if( typeof user != 'undefined' && !errors.dni ) { %>
                                <input type="number" name="dni" id="dni" value="<%= user.dni %>">
                            <% } else { %>
                                <input type="number" name="dni" id="dni">
                            <% } %>
                            <% if (typeof errors != 'undefined' && errors.dni) { %>
                                <small class="registerValidation"> * <%= errors.dni.msg %> </small>
                            <% } %>
                        </div>
                    </div>
                    <div class="fila-tres">
                        <div class="email">
                            <label for="email">Email</label>
                            <% if( typeof user != 'undefined' && !errors.email ) { %>
                                <input type="email" name="email" id="email" value="<%= user.email %>">
                            <% } else { %>
                                <input type="email" name="email" id="email">
                            <% } %>
                            <% if (typeof errors != 'undefined' && errors.email) { %>
                                <small class="registerValidation"> * <%= errors.email.msg %> </small>
                            <% } %>
                        </div>
                        <div class="confmail">
                            <label for="confEmail">Confirmar email</label>
                            <input type="email" name="confEmail" id="confEmail">
                        </div>
                    </div>
                    <div class="fila-cuatro">
                        <div class="pass">
                            <label for="pass">Contraseña</label>
                            <input type="password" name="pass" id="pass">
                            <% if (typeof errors != 'undefined' && errors.pass) { %>
                                <small class="registerValidation"> * <%= errors.pass.msg %> </small>
                            <% } %>
                        </div>
                        <div class="confpass">
                            <label for="confPass">Confirmar contraseña</label>
                            <input type="password" name="confPass" id="confPass">
                        </div>
                    </div>
                </div>
                <div class="fila-cinco"> 
                    <div class="tyc">                   
                        <input type="checkbox" name="TyC" value="si" id="TyC">
                        <label for="TyC"> Acepto las <a href="#">Políticas de Privacidad</a> y <a href="#">Términos y Condiciones</a></label>
                    </div>
                    <div class="suscripcion">
                        <input type="checkbox" name="suscripcion" value="si" id="suscripcion" checked>
                        <label for="suscripcion">Quiero recibir emails de promociones y noticias.</label>
                    </div>
                </div>
                <button type="submit">Crear mi cuenta</button>
            </form>
        </section>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>