<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Información de mi cuenta"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="perfilDeUsuario">
        <nav class="userNav">
            <%- include("../partials/userNav") %>
        </nav>
        <section class="infoUsuario">
            <h1>Mi Cuenta</h1>
            <div class="lineaDivisoria"></div>
            <div class="datosPersonales">
                <h4>DATOS PERSONALES</h4>
                <p><%= user.name %> <%= user.lastName %></p>
                <p><%= user.email %></p>
            </div>
            <div class="config">
                <p><a href="#">Editar</a></p>
                <p><a href="#">Cambiar Contraseña</a></p>
            </div>
        </section>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>