<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Usuarios"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="listaUsuarios">        
        <nav>
            <%- include("../partials/adminNav") %>
        </nav>
        <section class="tablaUsuarios">
            <h2>Usuarios</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col" scope="col">#</th>
                        <th class="col" scope="col">Nombre</th>
                        <th class="col" scope="col">Apellido</th>
                        <th class="col" scope="col">Email</th>
                        <th class="col boton" scope="col">Editar</th>
                        <th class="col boton" scope="col">Eliminar</th>
                    </tr>
                </thead>                
                <tbody>
                    <% for (i = 0; i < users.length; i++) { %>
                        <tr>
                            <th scope="row"> <%= users[i].id %> </th>
                            <td> <%= users[i].nombre %> </td>
                            <td> <%= users[i].apellido %> </td>
                            <td> <%= users[i].email %> </td>
                            <td class="boton"> <a href="/usuarios/edit/<%= users[i].id %>"><i class="fas fa-edit"></i> </a></td>
                            <td class="boton"><a href="/usuarios/edit/<%= users[i].id %>"> <i class="fa fa-trash" aria-hidden="true"></i></a> </td>
                        </tr>                  
                    <% } %> 
                </tbody>
            </table>
        </section>
    </main>    
</body>
</html>