<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Información de mi cuenta"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="perfilDeUsuario">
        <nav class="userNav">
            <%- include("../partials/userNav") %>
        </nav>
        <section class="infoUsuario">
            <h1>Editar información de mi cuenta</h1>
            <div class="lineaDivisoria"></div>
            <form action="?_method=PUT" method="POST">
                <div class="datos">
                    <div class="fila-uno">
                        <div class="nombre">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" value="<%= user.nombre %>">   
                            <small><%= (typeof errors != 'undefined' && errors.nombre) ? errors.nombre.msg : '' %></small>
                        </div>   
                        <div class="apellido">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" value="<%= user.apellido %>">
                            <small><%= (typeof errors != 'undefined' && errors.apellido) ? errors.apellido.msg : '' %></small>
                        </div>
                    </div>
                    <div class="fila-dos">
                        <div class="nacimiento">
                            <label for="nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="nacimiento" id="nacimiento" value="<%= user.fecha_nacimiento %>">                       
                            <small><%= (typeof errors != 'undefined' && errors.nacimiento) ? errors.nacimiento.msg : '' %></small>
                        </div>
                        <div class="dni">
                            <label for="dni">DNI</label>
                            <input type="number" name="dni" id="dni" value="<%= user.dni %>">
                            <small><%= (typeof errors != 'undefined' && errors.dni) ? errors.dni.msg : '' %></small>
                        </div>
                    </div>
                    <div class="fila-tres">
                        <div class="email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="<%= user.email %>">
                            <small><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>
                        </div>
                        <button type="submit">Guardar Cambios</button>
                    </div>
                </div>
            </form>
            <div class="config">
                <a href="/usuarios/perfil">Cancelar</a>
            </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>